<h1>Lab 9</h1>



<%= form_tag('/calculator/result.json', :method => 'get', remote: true, id: 'calc_form') do %>

<%= label_tag :text, 'Введите количество цифр в числах Армстронга:' %>
	<br>
	<%= text_field_tag :input_string, nil, size: 40,
	placeholder: 'Enter number here' %>
	
	<%= submit_tag 'Go!' %>
	
<% end %>

<div id="result"></div> 